/* browser reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
html {
  min-height: 100%;
}
body {
  min-height: max-content;

}
:root {
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --white-a90: rgb(255, 255, 255, 0.9);
  --darker-gray: rgb(30, 30, 30);
  --dark-gray: rgb(37, 37, 38);
  --gray: rgb(45, 45, 48);
  --lighter-gray: rgb(62, 62, 66);

  --off-white: rgba(245, 251, 239);
  --off-white-a70: rgb(200, 200, 239, 0.7);
  --light-blue: rgb(99, 174, 199);
  --blue: rgb(0, 122, 204);
  --dark-blue: rgb(19, 15, 122);
  --dark-purple: rgb(47, 36, 58);
  --lighter-purple: rgb(68, 64, 84);
  --svg-icon-pixel-height: 32px;
}

a {
  color: var(--hyperlink-color);
}
.color-scheme-dark {
  --hyperlink-color: var(--light-blue);
  color: var(--off-white);
  background: linear-gradient(0deg, var(--darker-gray), var(--dark-gray));
  /* background-color: var(--darker-gray); */
}
.color-scheme-light {
  --hyperlink-color: var(--light-blue);
  color: var(--white-a90);
}
.text-off-white {
  color: var(--off-white);
}
.unstyled-link {
  text-decoration: none;
  color: inherit;
}

/* LT - Laptop & Small desktop */
@media (min-width: 1200px) and (max-width: 1599.98px) {
  .container {
    width: 1170px;
  }
}
/* TL - Tablet (landscape) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    width: 962px;
  }
}
/* TP - Tablet (portrait) & Tall mobile (landscape) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    width: 100%;
  }
}

/* ML - Mobile (landscape) & Small tablet */
@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    width: 100%;
  }
}

/* MP - Mobile (portrait) */
@media (max-width: 575.98px) {
  .container {
    width: 100%;
  }
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none;
    transition: none;
  }
}
body {
  font-family: "Source Code Pro", "sans-serif";
  font-size: 16px;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Source Code Pro", "sans-serif";
  font-weight: 700;
  line-height: 1.2em;
}
h1,
.h1 {
  font-size: 40px;
}
h2,
.h2 {
  font-size: 33px;
}
h3,
.h3 {
  font-size: 27px;
}
h4 .h4 {
  font-size: 24px;
}
h5,
.h5 {
  font-size: 20px;
}
h6,
.h6 {
  font-size: 18px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
.col {
  flex-basis: 0px;
  flex-grow: 1;
  max-width: calc(100% - 50px);
}
.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}
.mr-1 {
  margin-right: 1rem;
}
.mr-2 {
  margin-right: 2rem;
}
.ml-1 {
  margin-left: 1rem;
}
.ml-2 {
  margin-left: 2rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.pb-2 {
  padding-bottom: 2rem;
}
.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.pr-1 {
  padding-right: 1rem;
}
.pr-2 {
  padding-right: 2rem;
}
.pl-1 {
  padding-left: 1rem;
}
.pl-2 {
  padding-left: 2rem;
}
.pt-2 {
  padding-top: 2rem;
}
.p-2 {
  padding: 2rem;
}
.bg-transparent {
  background-color: transparent;
}
.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.pt-1 {
  padding-top: 1rem;
}
.w-max {
  width: max-content;
}
.h-max {
  height: max-content;
}
.w-25 {
  width: 25%;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.text-lg {
  line-height: normal;
  font-size: 40px;
}
.svg-icon {
  height: var(--svg-icon-pixel-height);
  fill: var(--off-white);
  stroke: var(--off-white);
}
.svg-icon:hover {
  fill: var(--off-white-a70);
  stroke: var(--off-white-a70);
}
.h-90 {
  height: 90%;
}
.header-nav {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: var(--darker-gray);
}
.homepage-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* flew row when content doesnt fit */
@media (max-width: 800px) {
  .homepage-row {
    flex-direction: column;
    align-items: center;
  }
  .w-40 {
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .w-25 {
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
.homepage-container {
  width: 40%;
  height: fit-content;
}
.card {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--gray);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.header-card-content {
  width: 100%;
  display: inline;
  text-align: center;
}
.card-content {
  width: 100%;
  display: inline;
  text-align: left;
}
.card-title {
  width: 100%;
  text-align: center;
  padding: 2rem;
}

.firepit-img {
  width: 200px;
  height: 200px;
  position: absolute;
  user-select: none;
}
.firepit {
  width: 200px;
  height: 200px;
  position: relative;
}
.fire {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 46.7%;
  right: 5%;
  display: none;
}
.firepit-shadow {
  background: radial-gradient(circle, rgb(196, 100, 31), rgb(189, 23, 23));
  background-size: 400%;
  animation: shadow 10s infinite linear;
  border-radius: 10px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -2;
  position: absolute;
  filter: blur(20px);
  display: none;
}
.flint {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 20%;
  user-select: none;
}
.steel {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 50%;
  user-select: none;
}
.flint-and-steel {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 25%;
  top: 5%;
  z-index: 2;
  transition: width 0.5s ease-out;
}
#firepit-card:hover {
  cursor: pointer;
}
#firepit-card:hover > .card-body > .firepit > .flint-and-steel {
  width: 50px;
}
.firepit-canvas {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 100%;
  position: absolute;
  z-index: 20;
  pointer-events: none;
}

@keyframes shadow {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.wave {
  animation-delay: 1s;
  animation-duration: 1.5s;
  animation-iteration-count: 2;
  animation-name: wave-a;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-a {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(15deg);
  }
  66% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.h-full {
  height: 100%;
}

.profile-img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  object-fit: cover;
}
.footer {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darker-gray);
}
